html, body {
  height: 100%;
  width: 100%;
}


}
.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: #ad3e00;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: #ad3e00;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.flex2 {
  background: #0056d6;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: #0056d6;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.flex3 {
  background: #fec700;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: #fec700;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
